.vscode/**
.vscode-test/**
src/**
**/*.vsix
.gitignore
.eslintrc.json
tsconfig.json
webpack.config.js
**/*.map
**/*.log
**/*.tmp
**/*.bak
**/*.swp
**/*~
**/node_modules/**
coverage/**
out/**
**/target/**
**/logs/**
**/tmp/**
**/temp/**
scratch/**
test/**
